[alias]
	ai = add --interactive
  ap = add -p
	s = status
	d = diff
	c = commit
  cc = commit -a
  cm = commit -m
  cma = commit -a -m
  ca = commit --amend -C HEAD
  cam = commit --amend
	caa = commit -a --amend -C HEAD
	a = add
	co = checkout
	b = branch
	l = log
	f = fetch
  
  p = push
  po = push origin master
  ph = push heroku master
  # reset
  rh = reset --hard
  r1 = reset HEAD^
  r2 = reset HEAD^^
  r1h = reset HEAD^ --hard
  r2h = reset HEAD^^ --hard


[github]
	user = hayeah
	token = 8555110edea3b90c0ce9b4f3a2cd7bba
[user]
	name = Howard Yeh
	email = hayeah@gmail.com
